<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees.info</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="\static\css\mainpage.css">
    <script type="text/javascript" src={% static "js/hideElements.js" %}></script>
</head>
<body>
    <div class="container margintop20px">
        <h1>{{firm_name}}</h1>
        <p>Директор фирмы: {{employee_director}}</p>
        <a href="{% url 'searchpage' %}">
            <button type="button" class="btn btn-success btn-lg">Поиск сотрудников</button>
        </a>
    </div>

<div class="orderTotal margintop20px">
    <h4>Кадровая структура организации:</h4>

    {% if employee_tree %}
    <table id="tableOrderTotal" class="table tableTotal">
        <tbody>
            {% load employees_extras %}
            <tr>
                <td><p>ФИО</p></td>
                <td><p>Должность</p></td>
                <td><p>Дата принятия</p></td>
                <td><p>Зарплата</p></td>
            </tr>
            {% for employee in employee_tree %}
            {% with color_index=employee.hierarchy_level %}
            <tr id="employee_{{employee.pk}}" class="manager_{{employee.manager.pk}} cursorPointer" bgcolor={{tr_tag_colors|index:color_index}}>
                <td>{{employee}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.employment_date}}</td>
                <td>{{employee.salary}}</td>
            </tr>
            <script>
                if ({{employee.hierarchy_level}} > 3) {
                    employee_{{employee.pk}}.classList.add('hiddenRow');
                };

                if ({{employee.hierarchy_level}} == 2) {
                    employee_{{employee.pk}}.classList.add('opened');
                };

                employee_{{employee.pk}}.onclick = function() {
                    if (employee_{{employee.pk}}.classList.contains('opened')) {
                        employee_{{employee.pk}}.classList.remove('opened');
                        let children = tableOrderTotal.getElementsByClassName("manager_{{employee.pk}}");
                        hideAllChildren(children);
                    } else {
                        employee_{{employee.pk}}.classList.add('opened');
                        let children = tableOrderTotal.getElementsByClassName("manager_{{employee.pk}}");
                        unhideAllChildren(children);
                    };
                };
            </script>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>ERROR: No employees found</p>
    {% endif %}
</div>

    <!--===============================================================================================-->
	<script type="text/javascript" src={% static "js/hideElements.js" %}></script>

</body>
</html>