{% if employee_tree %}
<table id="tableOrderTotal" class="table tableTotal">
    <tbody>
        {% for employee in employee_tree %}
        <tr>
            <td class="employeesTableColumn">{{employee.last_name}}</td>
            <td class="employeesTableColumn">{{employee.first_name}}</td>
            <td class="employeesTableColumn">{{employee.middle_name}}</td>
            <td class="employeesTableColumn">{{employee.position}}</td>
            <td class="employeesTableColumn">{{employee.employment_date}}</td>
            <td class="employeesTableColumn">{{employee.salary}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>ERROR: No employees found</p>
{% endif %}